*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}

/* HEADER */

#header{
    display: flex;
    height: 70px;
    border-bottom: 1px solid #c4c4c4;
}

.cabecalho{
    margin: 15px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
}

/* MAIN */


#main .descricao{
    display: grid;
    grid-template-columns: 800px 500px;
    grid-template-rows: auto auto;
    align-items: start;
    padding: 100px 40px;
    gap: 20px;
}

.descricao .imagem_representa{
    width: 500px;
    height: 500px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin: 0px 200px;
}

.imagem_representa img{
    width: 100%;
}

.descricao .titulo{
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    text-align: center;
    font-family: "Inter", serif;
    font-weight: 600;
}   

.descricao .texto_descricao{
    grid-column: 2;
    grid-row: 2;
    font-family: "Inter", serif;
    font-size: 20px;
}
